:root {
  --pixel-shadow: inset -4px -4px 0 0 #4aa52e, 8px 0 black, 4px -4px black,
    -8px 0 black, -4px 4px black, -4px -4px black, 4px 4px black;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--brand-special);
  color: var(--brand-light);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }

  div.buttons,
  div.hostAvatars,
  div.shoutOutBadges {
    display: block;
    text-align: center;
  }

  div.animatedLogo {
    display: block;
    font-size: calc(0.8 * var(--line-size));
  }

  div.animatedLogo div {
    text-align: center;
  }

  div.logoThird {
    font-size: calc(0.6 * var(--line-size));
    padding: 8px;
  }

  div.logoThird img {
    width: calc(0.6 * var(--line-size));
    padding: 6px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
}

.pixelButton {
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  color: var(--brand-light);
  box-shadow: var(--pixel-shadow);
  background-color: #64cf44;
}

.pixelButton:hover {
  background-color: #72c957;
  text-decoration: none;
  box-shadow: var(--pixel-shadow);
}

.subscribeButton {
  display: inline-block;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 16px;
  padding: 24px;
  width: 300px;
  margin: 12px;
}

.feature {
  padding-top: 32px;
  padding-bottom: 32px;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.actionBar {
  padding-top: 16px;
}

.actionButton {
  padding: 16px;
}

.hosts {
  background-color: var(--brand-dark);
  color: var(--brand-light);
  padding-top: 64px;
  padding-bottom: 32px;
}

.hosts h2,
.shoutOuts h2 {
  text-align: center;
  padding-bottom: 32px;
}

.hostAvatars {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 32px;
}

.hostAvatar {
  padding-top: 16px;
  padding-bottom: 16px;
}

.hostImage {
  border-radius: 50%;
}

.hostName {
  font-family: "Press Start 2P", cursive;
  font-weight: 600;
  font-size: 1.2rem;
  padding-bottom: 16px;
}

.aboutUs {
  max-width: 600px;
  margin: auto;
}

.shoutOuts {
  padding-top: 32px;
  padding-bottom: 32px;
}

.shoutOutBadges {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.animatedLogo {
  --line-size: 4rem;
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  padding-bottom: 64px;
}

.logoRed {
  color: #ff4844;
}

.logoBlue {
  color: #01e1fd;
}

.logoOrange {
  color: #ffcd42;
}

.logoGreen {
  color: #02ca29;
}

.logoRedShadow {
  --shadow-color: #ff4844;
  color: var(--brand-special);
  text-shadow: 8px 12px var(--shadow-color), -6px -3px var(--shadow-color),
    1px -3px var(--shadow-color), 2px 4px var(--shadow-color),
    8px 0 var(--shadow-color);
}

.logoBlueShadow {
  --shadow-color: #01e1fd;
  color: var(--brand-special);
  text-shadow: 8px 12px var(--shadow-color), -6px -3px var(--shadow-color),
    1px -3px var(--shadow-color), 2px 4px var(--shadow-color),
    8px 0 var(--shadow-color);
}

.logoOrangeShadow {
  --shadow-color: #ffcd42;
  color: var(--brand-special);
  text-shadow: 8px 12px var(--shadow-color), -6px -3px var(--shadow-color),
    1px -3px var(--shadow-color), 2px 4px var(--shadow-color),
    8px 0 var(--shadow-color);
}

.logoGreenShadow {
  --shadow-color: #02ca29;
  color: var(--brand-special);
  text-shadow: 8px 12px var(--shadow-color), -6px -3px var(--shadow-color),
    1px -3px var(--shadow-color), 2px 4px var(--shadow-color),
    8px 0 var(--shadow-color);
}

.logoRedBold {
  --shadow-color: #ff4844;
  color: var(--shadow-color);
  text-shadow: 8px 0px var(--shadow-color), -8px 0px var(--shadow-color);
}

.logoBlueBold {
  --shadow-color: #01e1fd;
  color: var(--shadow-color);
  text-shadow: 8px 0px var(--shadow-color), -8px 0px var(--shadow-color);
}

.logoOrangeBold {
  --shadow-color: #ffcd42;
  color: var(--shadow-color);
  text-shadow: 8px 0px var(--shadow-color), -8px 0px var(--shadow-color);
}

.logoGreenBold {
  --shadow-color: #02ca29;
  color: var(--shadow-color);
  text-shadow: 8px 0px var(--shadow-color), -8px 0px var(--shadow-color);
}

.logoFirst {
  line-height: 136px;
  font-size: 136px;
  letter-spacing: 32px;
}

.logoSecond {
  line-height: 88px;
  font-size: 88px;
  letter-spacing: 16px;
}

.logoThird {
  line-height: 80px;
  font-size: 80px;
}

.logoThird img {
  width: 94px;
  padding-right: 16px;
  margin-bottom: -5px;
}
