.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: fit-content;
  margin: auto;
  padding: 16px;
}

@keyframes smoothHover {
  from {
    background-color: var(--ifm-color-primary);
    color: white;
  }
}

.subscribeButton {
  padding: 4px 6px;
  background-color: var(--ifm-color-primary);
  color: white;
}

.subscribeButton:hover {
  animation: smoothHover;
  animation-duration: 1s;
  background-color: var(--ifm-color-primary-lightest);
  color: var(--ifm-color-primary);
  text-decoration: none;
}

.aboutUs {
  padding: 10%;
}

.shoutOutBadges {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.shoutOutBadges img {
  min-width: 200px;
}
