@media screen and (max-width: 966px) {
  div.buttons,
  div.hostAvatars,
  div.shoutOutBadges {
    display: block;
    text-align: center;
  }

  img.bannerImage {
    display: block;
    width: 90%;
    margin: 1rem auto;
  }

  div.titleContainer {
    display: none;
  }
}

.pageSubtitle {
  font-family: 'Press Start 2P', cursive;
}

.platformLinksTitle {
  padding-top: 32px;
  text-align: center;
}

.buttons {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.hosts {
  background-color: var(--brand-dark);
  color: var(--brand-light);
  padding-top: 64px;
  padding-bottom: 32px;
}

.hosts h2,
.shoutOuts h2 {
  text-align: center;
  padding-bottom: 32px;
}

.hostAvatars {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 32px;
}

.hostAvatar {
  padding-top: 16px;
  padding-bottom: 16px;
}

.hostImage {
  border-radius: 50%;
  width: 270px;
}

.hostName {
  font-weight: 600;
  font-size: 1.2rem;
  padding-bottom: 16px;
}

.shoutOutBadges img {
  min-width: 200px;
}

.aboutUs {
  max-width: 600px;
  margin: auto;
}

.shoutOuts {
  padding-top: 32px;
  padding-bottom: 32px;
}

.shoutOutBadges {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.shoutOutBadges img {
  min-width: 200px;
}

.bannerImage {
  display: none;
}
