.wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
}

.shoutOutTitle {
  text-align: center;
  padding-bottom: 32px;
}

.shoutOutBadges {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  gap: 24px;
}

.shoutOutLink {
  border: 3px dotted var(--brand-light);
  width: 200px;
  max-width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shoutOutLink::after {
  content: none !important;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
}

.shoutOutLink:hover {
  transform: scale(1.1);
  animation: grow 0.6s;
}
