/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (max-width: 1023px) {}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1500px) {}

.primaryBackground {
    background-color: #21211F;
    color: #DADADA;
}

.hosts img {
    border-radius: 50%;
    width: 50%;
}

.hostDescription {
    text-align: left;
    vertical-align: middle;
    padding-bottom: 8rem;
}

.hostCards {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.kodujeHero {
    align-content: center;
}

.heroTW {
    color: #21211F;
    text-align: right;
    font-family: 'Consolas', 'Inconsolata', 'Hack';
    font-weight: bold;
    font-size: 300%;
}

.kodujeTW {
    color: #DADADA;
    background-color: #008DD2;
    text-align: left;
    border: 1px solid #DADADA;
    font-family: 'Consolas', 'Inconsolata', 'Hack';
    font-weight: bold;
    font-size: 250%;
}

.podcastIcon {
    text-align: center;
    font-size: 400%;
}

.mainContainer {
    padding-bottom: 0;
}

.nav-footer {
    background-color: #008DD2;
    padding-top: 4rem;
}

.nav-footer .copyright {
    color: #DADADA;
}

.episodeButton {
    font-size: 300%;
    padding: 3rem;
}

.tagLine {
    font-size: 200%;
    font-style: italic;
    text-align: center;
}

.heroImage {
    margin-bottom: 6rem;
    border: 2px solid #21211F;
    padding: 2rem;
    max-width: 80%;
}

.aboutSplash {
    width: 100%
}

.podcastDescription {
    padding-top: 3rem;
}

.navigationSlider .slidingNav ul li a {
    font-weight: bold;
    font-size: 1.2rem;
}

.player-fm {
    background-image: url(https://player.fm/assets/v_20190516085935/logos/playerfm-logo-32x32-7997850a076ef11aafac4844abf97f3a975c86a76810d6a4643889273be4341e.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position-x: 7px;
    background-position-y: 9px;
    padding-left: 27px;
}

