.cube {
  --cube-dimension: 55px;
  display: inline-block;
  width: var(--cube-dimension);
  height: var(--cube-dimension);
  transform: translate(-70%, -16px);
  user-select: none;
}

.cube:hover {
  transform: translate(-70%, -16px) scale(1.2);
  cursor: pointer;
}

.cubeFace {
  width: var(--cube-dimension);
  height: var(--cube-dimension);
  position: absolute;
  opacity: 0.95;

  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

.cubeFaceFront {
  background: var(--red-brand);
}

.cubeFaceLeft {
  background: var(--green-brand);
  transform: skew(0, 45deg) translate(65%, -55%) scale(0.2, 1);
}

.cubeFaceBottom {
  background: var(--blue-brand);
  transform: skew(45deg) translate(-55%, 65%) scale(1, 0.2);
}

.cubeText {
  display: block;
  position: absolute;
  top: -14px;
  left: 8px;
  font-size: 40px;
  color: var(--orange-brand);
  text-shadow: var(--brand-special) 3px 3px, var(--brand-special) 6px 6px;
}
