.hero {
}

.contactPage {
  padding: 64px 16px;
  width: 800px;
  max-width: 100%;
  margin: auto;
}

.envelope {
  fill: var(--ifm-color-primary);
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
