@media screen and (max-width: 966px) {
  div.techWriter,
  span.dot,
  input.command {
    font-size: 1.6rem;
  }

  div.form {
    padding: 2rem 6px;
  }
}

.wrapper {
  background-color: var(--brand-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  --form-font-size: 4rem;
  font-family: var(--brand-font);
  display: flex;
  flex-direction: column;
  width: 800px;
  max-width: 100%;
  margin: auto;
  padding: 64px 32px;
}

.techWriter {
  font-size: var(--form-font-size);
  color: white;
}

.commandLine {
  display: flex;
}

.dot {
  display: inline;
  color: var(--ifm-color-primary);
  font-size: var(--form-font-size);
}

.command {
  display: inline;
  color: var(--ifm-color-primary);
  font-family: var(--brand-font);
  font-size: var(--form-font-size);
  background-color: transparent;
  border: none;
}

.result {
  font-family: var(--brand-font);
  height: var(--form-font-size);
  overflow-y: scroll;
  width: 1000px;
  max-width: 100%;
  margin: auto;
  padding: 16px;
  color: white;
}

.highlight {
  color: var(--ifm-color-primary);
}
