.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 0;
  background-color: var(--brand-dark);
  color: white;
}

.logo {
  width: 300px;
  max-width: 100%;
}

.subtitle {
  font-family: var(--brand-font);
  font-size: 2.5rem;
  font-weight: 700;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  width: 700px;
  max-width: 90%;
  padding: 32px 0;
}

.button {
  font-weight: 600;
  text-align: center;
  padding: 8px 12px;
  color: white;
  border: 1px solid var(--ifm-color-primary);
  border-radius: 4px;
}

a[target='_blank']::after {
  display: none;
}

.button:hover {
  color: white;
  background-color: var(--ifm-color-primary);
  text-decoration: none;
}

.pages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.pageButton {
  padding: 6px 24px;
  border-radius: 8px;
  background-color: var(--ifm-color-primary);
  color: var(--brand-light);
  font-weight: 600;
}

.pageButton:hover {
  color: var(--brand-light);
  background-color: var(--ifm-color-primary-darkest);
  text-decoration: none;
}
