@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--brand-special);
  color: var(--brand-light);
  align-items: center;
}
